.btn {
  box-shadow: 2px 2px 10px black;
  border-radius: 19px;
  padding: 0.5rem 1rem;
}

.btn-lg {
  border-radius: 26px;
}

.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-img {
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.section-img-content {
  padding: 0 15px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8));
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bg-knowus {
  background-size: cover;
  min-height: 400px;
  background-image: url("../../assets/img/bridge.jpg");
}

.section-overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  min-height: 400px;
}

